<div class="row-fluid">
  <div class="span3">
    <div class="well sidebar-nav">
      <ul class="nav nav-list">
        <li class="nav-header">Job Options</li>
        <li class="active"><a href="#">FNOL</a></li>
        <li><a href="#">Initial Inspection</a></li>
        <li><a href="#">Rooms</a></li>
        <li><a href="#">Zones</a></li>
        <li>Validation</li>
        <li><a href="#">Monitoring</a></li>
        <li><a href="#">Drawing</a></li>
        <li><a href="#">Job Diary</a></li>
        <li><a href="#">Alerts</a></li>
        <li><a href="#">Reporting</a></li>
        <li><a href="#">Job Completion</a></li>        
      </ul>
    </div><!--/.well -->
  </div><!--/span-->
  
  <div class="span9">          
    <div class="row-fluid">
      <%= yield %>
    </div><!--/row-->    
  </div><!--/span-->


</div>
